:root {
	--color-gray: #bbbbbb;
	--color-dark-gray: #444444;
	--color-light-gray: #dddddd;

	--color-green: #88cc88;

	--color-yellow: #ffdd44;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
}