:root {
    --color-foreground: #444444;
    --color-background: #ffffff;

    --color-gray: #bbbbbb;
    --color-dark-gray: #777777;
    --color-darker-gray: #444444;
    --color-light-gray: #dddddd;
    --color-white: #ffffff;

    --color-red: #ef5350;
    --color-yellow: #ffca28;
    --color-green: #66bb6a;
    --color-translucent-green: #66bb6a22;
    --color-blue: #1c7cdc;
    --color-violet: #a855df;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: #eeeeee;
        --color-background: #222222;
    }
}

a {
    color: var(--color-foreground);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

button {
    border: none;
    border-radius: 4px;
    color: var(--color-foreground);
    flex: 1;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.1em;
    padding: 0.5em 1em;
    text-transform: uppercase;
    transition: filter 70ms linear;
}

button:active {
    filter: brightness(70%);
}

dialog {
    background-color: var(--color-background);
    border: 1px solid var(--color-foreground);
    border-radius: 4px;
    /*
     * I would expect setting the color of the body element to change the color of everything. But apparently it only
     * changes the color of everything except dialogs?
     */
    color: var(--color-foreground);
}

h1 {
    align-self: center;
    margin-top: 0;
}

h1.a-winner-is-you {
    margin-top: 8px;
}

html {
    height: 100%;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    40% {
        transform: translate(-8px, -8px);
    }
    50% {
        transform: translate(-8px, -8px);
    }
    60% {
        transform: translate(-8px, -8px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow: 2px 2px 0 var(--color-yellow);
    }
    20% {
        text-shadow:
            2px 2px 0 var(--color-yellow),
            4px 4px 0 var(--color-green);
    }
    30% {
        text-shadow:
            2px 2px 0 var(--color-yellow),
            4px 4px 0 var(--color-green),
            6px 6px var(--color-blue);
    }
    40% {
        text-shadow:
            2px 2px 0 var(--color-yellow),
            4px 4px 0 var(--color-green),
            6px 6px var(--color-blue),
            8px 8px 0 var(--color-violet);
    }
    50% {
        text-shadow:
            2px 2px 0 var(--color-yellow),
            4px 4px 0 var(--color-green),
            6px 6px var(--color-blue),
            8px 8px 0 var(--color-violet);
    }
    60% {
        text-shadow:
            2px 2px 0 var(--color-yellow),
            4px 4px 0 var(--color-green),
            6px 6px var(--color-blue),
            8px 8px 0 var(--color-violet);
    }
    70% {
        text-shadow:
            2px 2px 0 var(--color-yellow),
            4px 4px 0 var(--color-green),
            6px 6px var(--color-blue);
    }
    80% {
        text-shadow:
            2px 2px 0 var(--color-yellow),
            4px 4px 0 var(--color-green);
    }
    90% {
        text-shadow: 2px 2px 0 var(--color-yellow);
    }
    100% {
        text-shadow: none;
    }
}

.a-winner-is-you {
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    color: var(--color-red);
    text-shadow:
        2px 2px 0 var(--color-yellow),
        4px 4px 0 var(--color-green),
        6px 6px var(--color-blue),
        8px 8px 0 var(--color-violet);
}

.guess-cell {
    border: 2px solid var(--color-light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 32px;
    height: 64px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all linear 100ms;
}

.guess-grid {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(5, 64px);
}

.link-button {
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-transform: none;
}

.popover {
    background: var(--color-green);
    border-radius: 4px;
    color: var(--color-white);
    padding: 2px 4px;
    cursor: default;
    text-transform: none;
    white-space: nowrap;

    position: absolute;
    top: -110%;
}

.popover::after {
    content: "";
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-green) transparent transparent transparent;

    position: absolute;
    top: 100%;
    left: 50%;
}

.submitted {
    background: var(--color-gray);
    border-color: var(--color-gray);
    color: var(--color-white);
}

.submitted.green {
    background: var(--color-green);
    border-color: var(--color-green);
}

.submitted.yellow {
    background: var(--color-yellow);
    border-color: var(--color-yellow);
}
